body{
  background-color: #efefef;
}
* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
@font-face {font-family: 'iconfont';
    src: url('fonts/iconfont.eot');
    src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype'),
    url('fonts/iconfont.svg#iconfont') format('svg');
}
/*正文*/
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.topNav {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.topNavBar {
  
  padding:  0 16px;
}
.topNavBar .logo {
  font-family: "Arial Black";
  font-size: 24px;
  padding:3px 0 4px;
}
.topNavBar .logo .rs{
  color: #e6686a;
  margin-right: 4px;
}
.topNavBar .logo .topcard{
  color: #9A9DA2;
}
.topNavBar nav {
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.topNavBar nav a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: bold;
}
.topNavBar nav ul{
  list-style: none;
}
.topNavBar nav ul>li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar nav ul>li>a{
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  font-size: 12px;
  color: #b7b7b7;
  font-weight: bold;
  padding:5px 0;
  display: inline-block;
}
.topNavBar nav ul>li>a:hover{
  border-bottom: 3px solid #e06567;
}
/*topNavBar结束*/

.banner {
  height: 515px;
    background-image: url(./img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}
.mask {
  height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}
/*banner结束*/

.card {
  margin: 0 auto;
  max-width: 940px;
  background-color: #fff;
  box-sizing:border-box;
}
.maincard {
  padding: 50px;
}
.picture {
  float: left;
}
.text {
  float: left;
  margin-left: 65px;
  width: 470px;
}
.hello {
    background-color: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.text hr {
  margin: 20px 0;
}
.text dt, 
.text dd {
  float: left;
  padding: 5px 0;
}
.text dt {
  width: 30%;
  font-weight: bold;
}
.text dd {
  width: 70%;
  color: #9da0a7;
}
.media {
  background: #E6686A;
  text-align: center;
}
/*.madia a  {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}*/
.media a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
    color: white;
    font-size: 30px;
}

